{% comment %}
  Promotional text snippet for product pages
  Usage: {% render 'promotional-text' %}
{% endcomment %}

<div class="promotional-text-box">
  <div class="promotional-text-content">
    <h4>{{ 'bundles.promotional_text.title' | t }}</h4>
    <p>{{ 'bundles.promotional_text.two_boxes' | t }}</p>
    <p>{{ 'bundles.promotional_text.four_boxes' | t }}</p>
  </div>
</div>
